<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EndY</key>
	<integer>1500</integer>
	<key>Platforms</key>
	<dict>
		<key>Patterns</key>
		<dict>
			<key>Single</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<key>Positions</key>
		<array>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>100</integer>
				<key>y</key>
				<integer>125</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>320</integer>
				<key>y</key>
				<integer>125</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>210</integer>
				<key>y</key>
				<integer>185</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>320</integer>
				<key>y</key>
				<integer>240</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>100</integer>
				<key>y</key>
				<integer>240</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>210</integer>
				<key>y</key>
				<integer>300</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>60</integer>
				<key>y</key>
				<integer>360</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>210</integer>
				<key>y</key>
				<integer>420</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>350</integer>
				<key>y</key>
				<integer>360</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>400</integer>
				<key>y</key>
				<integer>500</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>300</integer>
				<key>y</key>
				<integer>465</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<integer>525</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>70</integer>
				<key>y</key>
				<integer>570</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<integer>640</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>300</integer>
				<key>y</key>
				<integer>700</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>400</integer>
				<key>y</key>
				<integer>760</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>60</integer>
				<key>y</key>
				<integer>800</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>150</integer>
				<key>y</key>
				<integer>850</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>925</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>320</integer>
				<key>y</key>
				<integer>975</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>40</integer>
				<key>y</key>
				<real>1000</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>130</integer>
				<key>y</key>
				<real>1075</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>210</integer>
				<key>y</key>
				<real>1150</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>100</integer>
				<key>y</key>
				<real>1210</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>320</integer>
				<key>y</key>
				<real>1210</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>210</integer>
				<key>y</key>
				<real>1270</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>100</integer>
				<key>y</key>
				<real>1330</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>320</integer>
				<key>y</key>
				<real>1330</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>210</integer>
				<key>y</key>
				<real>1390</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>100</integer>
				<key>y</key>
				<real>1450</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>320</integer>
				<key>y</key>
				<real>1450</real>
			</dict>
		</array>
	</dict>
</dict>
</plist>
